body{text-align: justify; background-color: rgb(250, 246, 215);}
image{width: 50px;}
h1{background-position: px;background-color: rgb(145, 255, 0);text-align: center; color: rgb(145, 43, 228);
.paragrafo1{font-style:30px;}